# --------------------------
# Python / Backend
# --------------------------
backend/venv/
**/__pycache__/
backend/*.pyc
backend/.env
backend/*.sqlite3

# --------------------------
# Frontend / React
# --------------------------
**/node_modules/
frontend/.next/
frontend/dist/
frontend/.env.local
*.log

# --------------------------
# Dataset / dati locali
# --------------------------
backend/data/*.csv
backend/data/*.json