# --------------------------
# Python / Backend
# --------------------------
venv/                    # virtual environment, dipendenze locali
__pycache__/             # file compilati Python
*.pyc                    # file compilati Python
.env                     # file con chiavi API / credenziali
*.sqlite3                # DB locale se lo usi

# --------------------------
# Frontend / React
# --------------------------
frontend/node_modules/            # dipendenze installate con npm
frontend/.next/                   # build folder Next.js
dist/                    # eventuali build frontend
.env.local               # variabili ambiente frontend
*.log                    # log vari generici

# --------------------------
# Dataset / dati locali
# --------------------------
data/*.csv               # dataset locali grandi (opzionale se non vuoi push)
data/*.json              # dati di test locali
