@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles 
  Setting the default background and text color using Tailwind's @apply 
  to ensure consistency with the theme defined in tailwind.config.js.
*/
body {
  @apply bg-midnight-blue text-white;
}

/* Custom Utility Classes 
  Extending Tailwind with a 'scrollbar-hide' utility.
  This is useful for clean UI designs (like horizontal sliders) while 
  maintaining scroll functionality across different browsers.
*/
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
  }
}